extends pug/layout/head

block variables
  - var pageTitle = 'InMove Skates'

//- Main page mixins
mixin advantagesItem(title, description)
  li.advantages-list__item.advantages-item
    .advantages-item__title= title
    span.advantages-item__description= description

mixin categoriesLinks(name)
  a(href="#").button.categories-links__item= name

mixin productCard(className, product, tag)
  div(class= className).product
    button.product-zoom.product__zoom
      img(src="./images/zoom.svg" alt="Zoom icon").product-zoom__icon
    if (tag)
      span.product__tag= product.tag
    img(src="./images/" + product.image).product__image
    h3.product__title= product.name
    span.product__description= product.description
    .product-pricing
      span.product-pricing__price= product.price
      button.product-pricing__button
        svg.product-pricing__cart
          use(xlink:href="./images/sprites.svg#cart")
    .product-sizes.product-sizes_hidden
      p.product-sizes__text
        | Sizes: 
      .product-sizes__button
        button.product-sizes__item 38
        button.product-sizes__item 39.5
        button.product-sizes__item.product-sizes__item_disabled 40
        button.product-sizes__item 40.5
        button.product-sizes__item.product-sizes__item_disabled 41
        button.product-sizes__item 41.5

//- Content
block content
  main.hero
    .container
      .hero-slider.slider
        //- Slide 1
        .hero-slider__slide.hero-slide.hero-slider__slide_active
          .hero-slide__info
            span.hero-slide__surtitle
              | Best for beginners
            h1.hero-slide__title
              | FR Skates FRX&nbsp;80
            span.hero-slide__subtitle
              | in Black and Orange
            p.hero-slide__description
              | One of the best freeride skates in the World! 
              | Great&nbsp;comfrtable liners, special premium insoles and wheels.
            a(href="#").button.button_primary.hero-slide__button.hero-button
              span.hero-button__text
                | Learn more
              img(src="./images/arrow.svg")

          img(src="./images/slide1.png" alt="Skates image").hero-slide__image

        //- Slide 2
        .hero-slider__slide.hero-slide
          .hero-slide__info
            span.hero-slide__surtitle
              | Best for General Grivus
            h1.hero-slide__title
              | FR Skates FRX&nbsp;60
            span.hero-slide__subtitle
              | in Orange and Black
            p.hero-slide__description
              | One of the best freeride skates in the World! 
              | Great&nbsp;comfrtable liners, special premium insoles and wheels.
            a(href="#").button.button_primary.hero-slide__button.hero-button
              span.hero-button__text
                | Learn more
              img(src="./images/arrow.svg")

          img(src="./images/slide1.png" alt="Skates image").hero-slide__image
        
        //- Slide 3
        .hero-slider__slide.hero-slide
          .hero-slide__info
            span.hero-slide__surtitle
              | Best for megatrons
            h1.hero-slide__title
              | FR Skates FRX&nbsp;40
            span.hero-slide__subtitle
              | in Black and Black
            p.hero-slide__description
              | One of the best freeride skates in the World! 
              | Great&nbsp;comfrtable liners, special premium insoles and wheels.
            a(href="#").button.button_primary.hero-slide__button.hero-button
              span.hero-button__text
                | Learn more
              img(src="./images/arrow.svg")

          img(src="./images/slide1.png" alt="Skates image").hero-slide__image

        //- Slider navigation
        .slider-navigation
          button.slider-navigation__button.slider-navigation__button_prev
            svg.slider-navigation__arrow.slider-navigation__arrow_prev
              use(xlink:href="./images/sprites.svg#arrow")

          ul.slider-navigation__pagination.slider-pagination

          button.slider-navigation__button.slider-navigation__button_next
            svg.slider-navigation__arrow
              use(xlink:href="./images/sprites.svg#arrow")

  .advantages
    .container.container_body
      ul.advantages-list
        +advantagesItem("FREE SHIPPING IN THE USA", "order over $50")
        +advantagesItem("RETURN IF YOU DON’T LIKE", "30 days")
        +advantagesItem("WAREHOUSE", "in Philadelhia")

  section.categories
    .container.container_body
      h2.categories__title
        | Categories
      
      .categories-links.categories__links
        +categoriesLinks("Skates")
        +categoriesLinks("Protection")
        +categoriesLinks("Wheels")
        +categoriesLinks("Accessories")
        +categoriesLinks("Backpack")

      .categories-brands.categories__brands
        a(href="#").categories-brands__link
          img(src="./images/brands-logo-1.png" alt="Rollerblade logo").categories-brands__logo
        a(href="#").categories-brands__link
          img(src="./images/brands-logo-2.png" alt="KS logo").categories-brands__logo
        a(href="#").categories-brands__link
          img(src="./images/brands-logo-3.png" alt="Powerslide logo").categories-brands__logo
        a(href="#").categories-brands__link
          img(src="./images/brands-logo-4.png" alt="Matter logo").categories-brands__logo
        a(href="#").categories-brands__link
          img(src="./images/brands-logo-5.png" alt="FR Skates logo").categories-brands__logo
        a(href="#").categories-brands__link
          img(src="./images/brands-logo-6.png" alt="UO Matter logo").categories-brands__logo
      
      .categories-types.categories__types
        .categories-types__card.categories-types__card_main
          h3.categories-types__title.categories-types__title_main
            | Skates
          a(href="#").categories-types__link.categories-types__link_main
            | Learn more
            svg.categories-types__arrow.categories-types__arrow_main
              use(xlink:href="./images/sprites.svg#arrow")
          img(src="./images/types-1.png" alt="Skates photo").categories-types__image.categories-types__image_main
        
        .categories-types__secondary
          .categories-types__card.categories-types__card_top
            h3.categories-types__title.categories-types__title_wheels
              | Wheels
            a(href="#").categories-types__link
              | Learn more
              svg.categories-types__arrow
                use(xlink:href="./images/sprites.svg#arrow")
            img(src="./images/types-2.png" alt="Wheels photo").categories-types__image.categories-types__image_top
          
          .categories-types__card.categories-types__card_bottom
            h3.categories-types__title
              | Protection
            a(href="#").categories-types__link
              | Learn more
              svg.categories-types__arrow
                use(xlink:href="./images/sprites.svg#arrow")
            img(src="./images/types-3.png" alt="Protection photo").categories-types__image.categories-types__image_bottom

  section.bestsellers
    .container.container_body.container_products
      h2.bestsellers__title
        | Bestsellers
      a(href="#").bestsellers__link
        | Learn more
      
      .bestsellers-cards
        +productCard('bestsellers-cards__item', {'name': 'FR SKATES FR1 80', 'description': 'Black 2020', 'price': '$386', 'image': 'product-card-image.png'})
        +productCard('bestsellers-cards__item',{'name': 'FR SKATES FR1 80', 'description': 'Black 2020', 'price': '$386', 'image': 'product-card-image.png', 'tag': '-10%'}, true)
        +productCard('bestsellers-cards__item', {'name': 'FR SKATES FR1 80', 'description': 'Black 2020', 'price': '$386', 'image': 'product-card-image.png'})
        +productCard('bestsellers-cards__item', {'name': 'FR SKATES FR1 80', 'description': 'Black 2020', 'price': '$386', 'image': 'product-card-image.png'})

  section.special
    .container.container_body
      img(src="./images/special.png" alt="Glowing wheels").special__image

      .special-info.special__info
        h2.special-info__title
          | GLOOOOW!
        span.special-info__subtitle
          | LUMINOUS wheels
        p.special-info__description
          | Shine bright like a diamond! Most&nbsp;durable city wheels for Freeride Add more colors in skating!
        a(href="#").button.button_primary.special-info__link.special-link
          span.special-link__text
            | Learn more
          img(src="./images/arrow.svg")